.header {
    background-color: #fff;
    
    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
        padding: 15px 22px;
    
        .title {
            font-size: 18px;
        }
    
        .authButtonWrapper {
            display: flex;
            align-items: center;
            column-gap: 30px;
    
            .loginButton {
                font-size: 18px;
            }
    
            .regButton {
                color: #52C41A;
                border: 1px solid #52C41A;
                border-radius: 5px;
                padding: 8px 18px;
            }
        }
    }
}